.countries{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  }
  li{
    list-style-type: none;
  }
  .visited-flags{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
  }
  .visited-flags img{
    width: 50px;
  }